<article class="article article--landing">
  <p class="article__lede">
    You're almost in the loop.
  </p>
  <div class="article__body prose prose-xl lg:prose-2xl">
    <%= markdown(@content) %>
  </div>
</article>
