@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('../fonts/AtkinsonHyperlegibleRegular102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: bold;
  src: url('../fonts/AtkinsonHyperlegibleBold102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  src: url('../fonts/AtkinsonHyperlegibleItalic102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/AtkinsonHyperlegibleBoldItalic102a.woff2') format('woff2');
}
