<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'partials/head' %>
  </head>

  <body class="bg-adpt-navy">
    <div class="container bg-adpt-navy max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <%= render 'partials/header' %>
      <%= yield %>
      <%= render 'partials/footer' %>
    </div>
  </body>
</html>
