<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'partials/head' %>
  </head>

  <body class="bg-adpt-navy">
    <div class="container bg-adpt-navy">
      <%= render 'partials/header' %>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <%= yield %>
      </div>
      <%= render 'partials/footer' %>
    </div>
  </body>
</html>
