<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || Settings.required(:brand, :name) %></title>
    <%= render 'partials/head' %>
  </head>

  <body>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </body>
</html>
