<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || Settings.critical(:brand, :name) %></title>
    <%= render 'partials/head' %>
  </head>

  <body>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto">
        <article class="prose prose-lg text-gray-500 mx-auto">
          <%= yield %>
        </article>
      </div>
    </div>
  </body>
</html>
